<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PlayersSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="PlayersSoap1" />
                <binding name="players">
                    <security mode="Transport" />
                </binding>
                <binding name="players1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://my-game.azurewebsites.net/Services/Players.asmx"
                binding="basicHttpBinding" bindingConfiguration="PlayersSoap"
                contract="PlayersService.PlayersSoap" name="PlayersSoap" />
            <endpoint address="https://basecamp-portal-southeastasia-01.regional.azure-api.net/soap-popappshops"
                binding="basicHttpBinding" bindingConfiguration="players"
                contract="GamersClient.players" name="players" />
        </client>
    </system.serviceModel>
</configuration>